{
   "swagger":"2.0",
   "info":{
      "title":"Monitoring Manager API",
      "description":"Monitoring Manager API",
      "termsOfService":"",
      "contact":{
         "email":"pkarkazis@synelixis.com"
      },
      "license":{
         "name":"Apache 2.0"
      },
      "version":"v2.5"
   },
   "host":"sp-monitor-manager.5gtango.eu:8000",
   "schemes":[
      "http"
   ],
   "basePath":"/",
   "consumes":[
      "application/json"
   ],
   "produces":[
      "application/json"
   ],
   "securityDefinitions":{
      "Basic":{
         "type":"basic"
      }
   },
   "security":[
      {
         "Basic":[

         ]
      }
   ],
   "paths":{
      "/api/v2/internal/smtp/creds/{component}":{
         "get":{
            "operationId":"api_v2_internal_smtp_creds_read",
            "description":"",
            "parameters":[

            ],
            "responses":{
               "200":{
                  "description":"",
                  "schema":{
                     "$ref":"#/definitions/SntSmtpSerializerCred"
                  }
               }
            },
            "tags":[
               "api"
            ]
         },
         "parameters":[
            {
               "name":"component",
               "in":"path",
               "required":true,
               "type":"string"
            }
         ]
      },
      "/api/v2/notification-types":{
         "get":{
            "operationId":"api_v2_notification-types_list",
            "description":"",
            "parameters":[
               {
                  "name":"limit",
                  "in":"query",
                  "description":"Number of results to return per page.",
                  "required":false,
                  "type":"integer"
               },
               {
                  "name":"offset",
                  "in":"query",
                  "description":"The initial index from which to return the results.",
                  "required":false,
                  "type":"integer"
               }
            ],
            "responses":{
               "200":{
                  "description":"",
                  "schema":{
                     "required":[
                        "count",
                        "results"
                     ],
                     "type":"object",
                     "properties":{
                        "count":{
                           "type":"integer"
                        },
                        "next":{
                           "type":"string",
                           "format":"uri"
                        },
                        "previous":{
                           "type":"string",
                           "format":"uri"
                        },
                        "results":{
                           "type":"array",
                           "items":{
                              "$ref":"#/definitions/SntNotifType"
                           }
                        }
                     }
                  }
               }
            },
            "tags":[
               "api"
            ]
         },
         "post":{
            "operationId":"api_v2_notification-types_create",
            "description":"",
            "parameters":[
               {
                  "name":"data",
                  "in":"body",
                  "required":true,
                  "schema":{
                     "$ref":"#/definitions/SntNotifType"
                  }
               }
            ],
            "responses":{
               "201":{
                  "description":"",
                  "schema":{
                     "$ref":"#/definitions/SntNotifType"
                  }
               }
            },
            "tags":[
               "api"
            ]
         },
         "parameters":[

         ]
      },
      "/api/v2/notification-types/{id}":{
         "delete":{
            "operationId":"api_v2_notification-types_delete",
            "description":"",
            "parameters":[

            ],
            "responses":{
               "204":{
                  "description":""
               }
            },
            "tags":[
               "api"
            ]
         },
         "parameters":[
            {
               "name":"id",
               "in":"path",
               "description":"A unique integer value identifying this monitoring_notif_types.",
               "required":true,
               "type":"integer"
            }
         ]
      },
      "/api/v2/policies/monitoring-alerts":{
         "get":{
            "operationId":"api_v2_policies_monitoring-alerts_list",
            "description":"",
            "parameters":[
               {
                  "name":"limit",
                  "in":"query",
                  "description":"Number of results to return per page.",
                  "required":false,
                  "type":"integer"
               },
               {
                  "name":"offset",
                  "in":"query",
                  "description":"The initial index from which to return the results.",
                  "required":false,
                  "type":"integer"
               }
            ],
            "responses":{
               "200":{
                  "description":"",
                  "schema":{
                     "required":[
                        "count",
                        "results"
                     ],
                     "type":"object",
                     "properties":{
                        "count":{
                           "type":"integer"
                        },
                        "next":{
                           "type":"string",
                           "format":"uri"
                        },
                        "previous":{
                           "type":"string",
                           "format":"uri"
                        },
                        "results":{
                           "type":"array",
                           "items":{
                              "$ref":"#/definitions/SntAlertsList"
                           }
                        }
                     }
                  }
               }
            },
            "tags":[
               "api"
            ]
         },
         "parameters":[

         ]
      },
      "/api/v2/policies/monitoring-rules":{
         "post":{
            "operationId":"api_v2_policies_monitoring-rules_create",
            "description":"",
            "parameters":[
               {
                  "name":"data",
                  "in":"body",
                  "required":true,
                  "schema":{
                     "$ref":"#/definitions/SntPLCRulesConf"
                  }
               }
            ],
            "responses":{
               "201":{
                  "description":"",
                  "schema":{
                     "$ref":"#/definitions/SntPLCRulesConf"
                  }
               }
            },
            "tags":[
               "api"
            ]
         },
         "parameters":[

         ]
      },
      "/api/v2/policies/monitoring-rules/service/{srv_id}":{
         "get":{
            "operationId":"api_v2_policies_monitoring-rules_service_read",
            "description":"",
            "parameters":[

            ],
            "responses":{
               "200":{
                  "description":"",
                  "schema":{
                     "$ref":"#/definitions/SntRulesPerSrv"
                  }
               }
            },
            "tags":[
               "api"
            ]
         },
         "delete":{
            "operationId":"api_v2_policies_monitoring-rules_service_delete",
            "description":"",
            "parameters":[

            ],
            "responses":{
               "204":{
                  "description":""
               }
            },
            "tags":[
               "api"
            ]
         },
         "parameters":[
            {
               "name":"srv_id",
               "in":"path",
               "required":true,
               "type":"string"
            }
         ]
      },
      "/api/v2/pops":{
         "get":{
            "operationId":"api_v2_pops_list",
            "description":"",
            "parameters":[
               {
                  "name":"limit",
                  "in":"query",
                  "description":"Number of results to return per page.",
                  "required":false,
                  "type":"integer"
               },
               {
                  "name":"offset",
                  "in":"query",
                  "description":"The initial index from which to return the results.",
                  "required":false,
                  "type":"integer"
               }
            ],
            "responses":{
               "200":{
                  "description":"",
                  "schema":{
                     "required":[
                        "count",
                        "results"
                     ],
                     "type":"object",
                     "properties":{
                        "count":{
                           "type":"integer"
                        },
                        "next":{
                           "type":"string",
                           "format":"uri"
                        },
                        "previous":{
                           "type":"string",
                           "format":"uri"
                        },
                        "results":{
                           "type":"array",
                           "items":{
                              "$ref":"#/definitions/SntPOP"
                           }
                        }
                     }
                  }
               }
            },
            "tags":[
               "api"
            ]
         },
         "post":{
            "operationId":"api_v2_pops_create",
            "description":"",
            "parameters":[
               {
                  "name":"data",
                  "in":"body",
                  "required":true,
                  "schema":{
                     "$ref":"#/definitions/SntPOP"
                  }
               }
            ],
            "responses":{
               "201":{
                  "description":"",
                  "schema":{
                     "$ref":"#/definitions/SntPOP"
                  }
               }
            },
            "tags":[
               "api"
            ]
         },
         "parameters":[

         ]
      },
      "/api/v2/pops/{pop_id}":{
         "delete":{
            "operationId":"api_v2_pops_delete",
            "description":"",
            "parameters":[

            ],
            "responses":{
               "204":{
                  "description":""
               }
            },
            "tags":[
               "api"
            ]
         },
         "parameters":[
            {
               "name":"pop_id",
               "in":"path",
               "required":true,
               "type":"string"
            }
         ]
      },
      "/api/v2/prometheus/configuration":{
         "get":{
            "operationId":"api_v2_prometheus_configuration_list",
            "description":"",
            "parameters":[
               {
                  "name":"limit",
                  "in":"query",
                  "description":"Number of results to return per page.",
                  "required":false,
                  "type":"integer"
               },
               {
                  "name":"offset",
                  "in":"query",
                  "description":"The initial index from which to return the results.",
                  "required":false,
                  "type":"integer"
               }
            ],
            "responses":{
               "200":{
                  "description":""
               }
            },
            "tags":[
               "api"
            ]
         },
         "parameters":[

         ]
      },
      "/api/v2/prometheus/metrics":{
         "get":{
            "operationId":"api_v2_prometheus_metrics_read",
            "description":"",
            "parameters":[

            ],
            "responses":{
               "200":{
                  "description":"",
                  "schema":{
                     "$ref":"#/definitions/promMetricsList"
                  }
               }
            },
            "tags":[
               "api"
            ]
         },
         "parameters":[

         ]
      },
      "/api/v2/prometheus/metrics/name/{metricName}":{
         "get":{
            "operationId":"api_v2_prometheus_metrics_name_read",
            "description":"",
            "parameters":[

            ],
            "responses":{
               "200":{
                  "description":"",
                  "schema":{
                     "$ref":"#/definitions/promMetricsList"
                  }
               }
            },
            "tags":[
               "api"
            ]
         },
         "parameters":[
            {
               "name":"metricName",
               "in":"path",
               "required":true,
               "type":"string"
            }
         ]
      },
      "/api/v2/prometheus/targets":{
         "get":{
            "operationId":"api_v2_prometheus_targets_list",
            "description":"",
            "parameters":[
               {
                  "name":"limit",
                  "in":"query",
                  "description":"Number of results to return per page.",
                  "required":false,
                  "type":"integer"
               },
               {
                  "name":"offset",
                  "in":"query",
                  "description":"The initial index from which to return the results.",
                  "required":false,
                  "type":"integer"
               }
            ],
            "responses":{
               "200":{
                  "description":"",
                  "schema":{
                     "required":[
                        "count",
                        "results"
                     ],
                     "type":"object",
                     "properties":{
                        "count":{
                           "type":"integer"
                        },
                        "next":{
                           "type":"string",
                           "format":"uri"
                        },
                        "previous":{
                           "type":"string",
                           "format":"uri"
                        },
                        "results":{
                           "type":"array",
                           "items":{
                              "$ref":"#/definitions/SntPromTargetsSerialazer"
                           }
                        }
                     }
                  }
               }
            },
            "tags":[
               "api"
            ]
         },
         "post":{
            "operationId":"api_v2_prometheus_targets_create",
            "description":"",
            "parameters":[
               {
                  "name":"data",
                  "in":"body",
                  "required":true,
                  "schema":{
                     "$ref":"#/definitions/SntPromTargetsSerialazer"
                  }
               }
            ],
            "responses":{
               "201":{
                  "description":"",
                  "schema":{
                     "$ref":"#/definitions/SntPromTargetsSerialazer"
                  }
               }
            },
            "tags":[
               "api"
            ]
         },
         "parameters":[

         ]
      },
      "/api/v2/services":{
         "get":{
            "operationId":"api_v2_services_list",
            "description":"",
            "parameters":[
               {
                  "name":"limit",
                  "in":"query",
                  "description":"Number of results to return per page.",
                  "required":false,
                  "type":"integer"
               },
               {
                  "name":"offset",
                  "in":"query",
                  "description":"The initial index from which to return the results.",
                  "required":false,
                  "type":"integer"
               }
            ],
            "responses":{
               "200":{
                  "description":""
               }
            },
            "tags":[
               "api"
            ]
         },
         "post":{
            "operationId":"api_v2_services_create",
            "description":"",
            "parameters":[

            ],
            "responses":{
               "201":{
                  "description":""
               }
            },
            "tags":[
               "api"
            ]
         },
         "parameters":[

         ]
      },
      "/api/v2/services/{srv_id}":{
         "delete":{
            "operationId":"api_v2_services_delete",
            "description":"",
            "parameters":[

            ],
            "responses":{
               "204":{
                  "description":""
               }
            },
            "tags":[
               "api"
            ]
         },
         "parameters":[
            {
               "name":"srv_id",
               "in":"path",
               "required":true,
               "type":"string"
            }
         ]
      },
      "/api/v2/services/{srv_id}/metrics":{
         "get":{
            "operationId":"api_v2_services_metrics_read",
            "description":"",
            "parameters":[

            ],
            "responses":{
               "200":{
                  "description":"",
                  "schema":{
                     "$ref":"#/definitions/promMetricsList"
                  }
               }
            },
            "tags":[
               "api"
            ]
         },
         "parameters":[
            {
               "name":"srv_id",
               "in":"path",
               "required":true,
               "type":"string"
            }
         ]
      },
      "/api/v2/sla/monitoring-alerts":{
         "get":{
            "operationId":"api_v2_sla_monitoring-alerts_list",
            "description":"",
            "parameters":[
               {
                  "name":"limit",
                  "in":"query",
                  "description":"Number of results to return per page.",
                  "required":false,
                  "type":"integer"
               },
               {
                  "name":"offset",
                  "in":"query",
                  "description":"The initial index from which to return the results.",
                  "required":false,
                  "type":"integer"
               }
            ],
            "responses":{
               "200":{
                  "description":"",
                  "schema":{
                     "required":[
                        "count",
                        "results"
                     ],
                     "type":"object",
                     "properties":{
                        "count":{
                           "type":"integer"
                        },
                        "next":{
                           "type":"string",
                           "format":"uri"
                        },
                        "previous":{
                           "type":"string",
                           "format":"uri"
                        },
                        "results":{
                           "type":"array",
                           "items":{
                              "$ref":"#/definitions/SntAlertsList"
                           }
                        }
                     }
                  }
               }
            },
            "tags":[
               "api"
            ]
         },
         "parameters":[

         ]
      },
      "/api/v2/sla/monitoring-rules":{
         "post":{
            "operationId":"api_v2_sla_monitoring-rules_create",
            "description":"",
            "parameters":[
               {
                  "name":"data",
                  "in":"body",
                  "required":true,
                  "schema":{
                     "$ref":"#/definitions/SntSLARulesConf"
                  }
               }
            ],
            "responses":{
               "201":{
                  "description":"",
                  "schema":{
                     "$ref":"#/definitions/SntSLARulesConf"
                  }
               }
            },
            "tags":[
               "api"
            ]
         },
         "parameters":[

         ]
      },
      "/api/v2/sla/monitoring-rules/service/{srv_id}":{
         "get":{
            "operationId":"api_v2_sla_monitoring-rules_service_read",
            "description":"",
            "parameters":[

            ],
            "responses":{
               "200":{
                  "description":"",
                  "schema":{
                     "$ref":"#/definitions/SntRulesPerSrv"
                  }
               }
            },
            "tags":[
               "api"
            ]
         },
         "delete":{
            "operationId":"api_v2_sla_monitoring-rules_service_delete",
            "description":"",
            "parameters":[

            ],
            "responses":{
               "204":{
                  "description":""
               }
            },
            "tags":[
               "api"
            ]
         },
         "parameters":[
            {
               "name":"srv_id",
               "in":"path",
               "required":true,
               "type":"string"
            }
         ]
      },
      "/api/v2/snmps":{
         "get":{
            "operationId":"api_v2_snmps_list",
            "description":"",
            "parameters":[
               {
                  "name":"limit",
                  "in":"query",
                  "description":"Number of results to return per page.",
                  "required":false,
                  "type":"integer"
               },
               {
                  "name":"offset",
                  "in":"query",
                  "description":"The initial index from which to return the results.",
                  "required":false,
                  "type":"integer"
               }
            ],
            "responses":{
               "200":{
                  "description":"",
                  "schema":{
                     "required":[
                        "count",
                        "results"
                     ],
                     "type":"object",
                     "properties":{
                        "count":{
                           "type":"integer"
                        },
                        "next":{
                           "type":"string",
                           "format":"uri"
                        },
                        "previous":{
                           "type":"string",
                           "format":"uri"
                        },
                        "results":{
                           "type":"array",
                           "items":{
                              "$ref":"#/definitions/SntSNMPEntFull"
                           }
                        }
                     }
                  }
               }
            },
            "tags":[
               "api"
            ]
         },
         "post":{
            "operationId":"api_v2_snmps_create",
            "description":"",
            "parameters":[
               {
                  "name":"data",
                  "in":"body",
                  "required":true,
                  "schema":{
                     "$ref":"#/definitions/SntSNMPEntFull"
                  }
               }
            ],
            "responses":{
               "201":{
                  "description":"",
                  "schema":{
                     "$ref":"#/definitions/SntSNMPEntFull"
                  }
               }
            },
            "tags":[
               "api"
            ]
         },
         "parameters":[

         ]
      },
      "/api/v2/snmps/{id}":{
         "delete":{
            "operationId":"api_v2_snmps_delete",
            "description":"",
            "parameters":[

            ],
            "responses":{
               "204":{
                  "description":""
               }
            },
            "tags":[
               "api"
            ]
         },
         "parameters":[
            {
               "name":"id",
               "in":"path",
               "required":true,
               "type":"string"
            }
         ]
      },
      "/api/v2/users":{
         "get":{
            "operationId":"api_v2_users_list",
            "description":"",
            "parameters":[
               {
                  "name":"limit",
                  "in":"query",
                  "description":"Number of results to return per page.",
                  "required":false,
                  "type":"integer"
               },
               {
                  "name":"offset",
                  "in":"query",
                  "description":"The initial index from which to return the results.",
                  "required":false,
                  "type":"integer"
               }
            ],
            "responses":{
               "200":{
                  "description":"",
                  "schema":{
                     "required":[
                        "count",
                        "results"
                     ],
                     "type":"object",
                     "properties":{
                        "count":{
                           "type":"integer"
                        },
                        "next":{
                           "type":"string",
                           "format":"uri"
                        },
                        "previous":{
                           "type":"string",
                           "format":"uri"
                        },
                        "results":{
                           "type":"array",
                           "items":{
                              "$ref":"#/definitions/SntUser"
                           }
                        }
                     }
                  }
               }
            },
            "tags":[
               "api"
            ]
         },
         "post":{
            "operationId":"api_v2_users_create",
            "description":"",
            "parameters":[
               {
                  "name":"data",
                  "in":"body",
                  "required":true,
                  "schema":{
                     "$ref":"#/definitions/SntUser"
                  }
               }
            ],
            "responses":{
               "201":{
                  "description":"",
                  "schema":{
                     "$ref":"#/definitions/SntUser"
                  }
               }
            },
            "tags":[
               "api"
            ]
         },
         "parameters":[

         ]
      },
      "/api/v2/users/{id}/":{
         "delete":{
            "operationId":"api_v2_users_delete",
            "description":"",
            "parameters":[

            ],
            "responses":{
               "204":{
                  "description":""
               }
            },
            "tags":[
               "api"
            ]
         },
         "parameters":[
            {
               "name":"id",
               "in":"path",
               "description":"A unique integer value identifying this monitoring_users.",
               "required":true,
               "type":"integer"
            }
         ]
      },
      "/api/v2/vnfs/{vnf_id}/metrics":{
         "get":{
            "operationId":"api_v2_vnfs_metrics_read",
            "description":"",
            "parameters":[

            ],
            "responses":{
               "200":{
                  "description":"",
                  "schema":{
                     "$ref":"#/definitions/promMetricsList"
                  }
               }
            },
            "tags":[
               "api"
            ]
         },
         "parameters":[
            {
               "name":"vnf_id",
               "in":"path",
               "required":true,
               "type":"string"
            }
         ]
      },
      "/api/v2/vnfs/{vnf_id}/vdu/{vdu_id}/metrics":{
         "get":{
            "operationId":"api_v2_vnfs_vdu_metrics_read",
            "description":"",
            "parameters":[

            ],
            "responses":{
               "200":{
                  "description":"",
                  "schema":{
                     "$ref":"#/definitions/promMetricsList"
                  }
               }
            },
            "tags":[
               "api"
            ]
         },
         "parameters":[
            {
               "name":"vdu_id",
               "in":"path",
               "required":true,
               "type":"string"
            },
            {
               "name":"vnf_id",
               "in":"path",
               "required":true,
               "type":"string"
            }
         ]
      },
      "/pings":{
         "get":{
            "operationId":"pings_list",
            "description":"",
            "parameters":[
               {
                  "name":"limit",
                  "in":"query",
                  "description":"Number of results to return per page.",
                  "required":false,
                  "type":"integer"
               },
               {
                  "name":"offset",
                  "in":"query",
                  "description":"The initial index from which to return the results.",
                  "required":false,
                  "type":"integer"
               }
            ],
            "responses":{
               "200":{
                  "description":"",
                  "schema":{
                     "required":[
                        "count",
                        "results"
                     ],
                     "type":"object",
                     "properties":{
                        "count":{
                           "type":"integer"
                        },
                        "next":{
                           "type":"string",
                           "format":"uri"
                        },
                        "previous":{
                           "type":"string",
                           "format":"uri"
                        },
                        "results":{
                           "type":"array",
                           "items":{
                              "$ref":"#/definitions/Health"
                           }
                        }
                     }
                  }
               }
            },
            "tags":[
               "pings"
            ]
         },
         "parameters":[

         ]
      }
   },
   "definitions":{
      "SntSmtpSerializerCred":{
         "required":[
            "password"
         ],
         "type":"object",
         "properties":{
            "id":{
               "title":"ID",
               "type":"integer",
               "readOnly":true
            },
            "password":{
               "title":"Password",
               "type":"string",
               "maxLength":60,
               "minLength":1
            }
         }
      },
      "SntNotifType":{
         "type":"object",
         "properties":{
            "id":{
               "title":"ID",
               "type":"integer",
               "readOnly":true
            },
            "type":{
               "title":"Type",
               "type":"string",
               "maxLength":30
            }
         }
      },
      "SntAlerts":{
         "required":[
            "alertname",
            "topic",
            "serviceID",
            "functionID",
            "resource_id",
            "alertstate"
         ],
         "type":"object",
         "properties":{
            "alertname":{
               "title":"Alertname",
               "type":"string",
               "minLength":1
            },
            "topic":{
               "title":"Topic",
               "type":"string",
               "minLength":1
            },
            "serviceID":{
               "title":"Serviceid",
               "type":"string",
               "minLength":1
            },
            "functionID":{
               "title":"Functionid",
               "type":"string",
               "minLength":1
            },
            "resource_id":{
               "title":"Resource id",
               "type":"string",
               "minLength":1
            },
            "alertstate":{
               "title":"Alertstate",
               "type":"string",
               "minLength":1
            }
         }
      },
      "SntAlertsList":{
         "required":[
            "status",
            "alerts"
         ],
         "type":"object",
         "properties":{
            "status":{
               "title":"Status",
               "type":"string",
               "minLength":1
            },
            "alerts":{
               "type":"array",
               "items":{
                  "$ref":"#/definitions/SntAlerts"
               }
            }
         }
      },
      "SntRulesF":{
         "required":[
            "duration",
            "description",
            "condition",
            "notification_type",
            "service"
         ],
         "type":"object",
         "properties":{
            "id":{
               "title":"ID",
               "type":"integer",
               "readOnly":true
            },
            "name":{
               "title":"Name",
               "type":"string",
               "maxLength":60
            },
            "duration":{
               "title":"Duration",
               "type":"string",
               "maxLength":30,
               "minLength":1
            },
            "summary":{
               "title":"Summary",
               "type":"string",
               "maxLength":1024
            },
            "description":{
               "title":"Description",
               "type":"string",
               "maxLength":2048,
               "minLength":1
            },
            "condition":{
               "title":"Condition",
               "type":"string",
               "maxLength":2048,
               "minLength":1
            },
            "notification_type":{
               "$ref":"#/definitions/SntNotifType"
            },
            "service":{
               "title":"Service",
               "type":"integer"
            },
            "created":{
               "title":"Created",
               "type":"string",
               "format":"date-time"
            }
         }
      },
      "SntRulesVdu":{
         "required":[
            "vdu_id",
            "rules"
         ],
         "type":"object",
         "properties":{
            "vdu_id":{
               "title":"Vdu id",
               "type":"string",
               "minLength":1
            },
            "rules":{
               "type":"array",
               "items":{
                  "$ref":"#/definitions/SntRulesF"
               }
            }
         }
      },
      "SntRulesVnf":{
         "required":[
            "vnf_id",
            "vdus"
         ],
         "type":"object",
         "properties":{
            "vnf_id":{
               "title":"Vnf id",
               "type":"string",
               "minLength":1
            },
            "vdus":{
               "type":"array",
               "items":{
                  "$ref":"#/definitions/SntRulesVdu"
               }
            }
         }
      },
      "SntPLCRulesConf":{
         "required":[
            "sonata_service_id",
            "plc_contract",
            "vnfs"
         ],
         "type":"object",
         "properties":{
            "sonata_service_id":{
               "title":"Sonata service id",
               "type":"string",
               "minLength":1
            },
            "plc_contract":{
               "title":"Plc contract",
               "type":"string",
               "minLength":1
            },
            "vnfs":{
               "type":"array",
               "items":{
                  "$ref":"#/definitions/SntRulesVnf"
               }
            }
         }
      },
      "SntRulesPerSrv":{
         "required":[
            "duration",
            "description",
            "condition",
            "notification_type"
         ],
         "type":"object",
         "properties":{
            "id":{
               "title":"ID",
               "type":"integer",
               "readOnly":true
            },
            "function":{
               "title":"Function",
               "type":"string",
               "maxLength":60
            },
            "vdu":{
               "title":"Vdu",
               "type":"string",
               "maxLength":60
            },
            "name":{
               "title":"Name",
               "type":"string",
               "maxLength":60
            },
            "duration":{
               "title":"Duration",
               "type":"string",
               "maxLength":30,
               "minLength":1
            },
            "summary":{
               "title":"Summary",
               "type":"string",
               "maxLength":1024
            },
            "description":{
               "title":"Description",
               "type":"string",
               "maxLength":2048,
               "minLength":1
            },
            "condition":{
               "title":"Condition",
               "type":"string",
               "maxLength":2048,
               "minLength":1
            },
            "notification_type":{
               "$ref":"#/definitions/SntNotifType"
            },
            "created":{
               "title":"Created",
               "type":"string",
               "format":"date-time"
            }
         }
      },
      "SntPOP":{
         "required":[
            "sonata_pop_id",
            "sonata_sp_id"
         ],
         "type":"object",
         "properties":{
            "id":{
               "title":"ID",
               "type":"integer",
               "readOnly":true
            },
            "sonata_pop_id":{
               "title":"Sonata pop id",
               "type":"string",
               "maxLength":60,
               "minLength":1
            },
            "sonata_sp_id":{
               "title":"Sonata sp id",
               "type":"string",
               "maxLength":60,
               "minLength":1
            },
            "name":{
               "title":"Name",
               "type":"string",
               "maxLength":30
            },
            "prom_url":{
               "title":"Prom url",
               "type":"string",
               "maxLength":128
            },
            "created":{
               "title":"Created",
               "type":"string",
               "format":"date-time"
            }
         }
      },
      "promMetricLabel":{
         "type":"object",
         "properties":{

         }
      },
      "promMetricsList":{
         "required":[
            "metrics"
         ],
         "type":"object",
         "properties":{
            "metrics":{
               "type":"array",
               "items":{
                  "$ref":"#/definitions/promMetricLabel"
               }
            }
         }
      },
      "SntPromTargetsSerialazer":{
         "type":"object",
         "properties":{

         }
      },
      "SntSLARulesConf":{
         "required":[
            "sonata_service_id",
            "sla_contract",
            "rules"
         ],
         "type":"object",
         "properties":{
            "sonata_service_id":{
               "title":"Sonata service id",
               "type":"string",
               "minLength":1
            },
            "sla_contract":{
               "title":"Sla contract",
               "type":"string",
               "minLength":1
            },
            "rules":{
               "type":"array",
               "items":{
                  "$ref":"#/definitions/SntRulesVnf"
               }
            }
         }
      },
      "SntSNMPOid":{
         "required":[
            "oid",
            "metric_name",
            "metric_type",
            "unit",
            "mib_name"
         ],
         "type":"object",
         "properties":{
            "oid":{
               "title":"Oid",
               "type":"string",
               "maxLength":512,
               "minLength":1
            },
            "metric_name":{
               "title":"Metric name",
               "type":"string",
               "maxLength":60,
               "minLength":1
            },
            "metric_type":{
               "title":"Metric type",
               "type":"string",
               "enum":[
                  "gauge"
               ]
            },
            "unit":{
               "title":"Unit",
               "type":"string",
               "maxLength":30,
               "minLength":1
            },
            "mib_name":{
               "title":"Mib name",
               "type":"string",
               "maxLength":512,
               "minLength":1
            }
         }
      },
      "SntSNMPEntFull":{
         "required":[
            "port",
            "username",
            "password",
            "interval",
            "entity_type",
            "oids",
            "entity_id",
            "version",
            "auth_protocol",
            "security_level"
         ],
         "type":"object",
         "properties":{
            "id":{
               "title":"ID",
               "type":"integer",
               "readOnly":true
            },
            "ip":{
               "title":"Ip",
               "type":"string",
               "minLength":1
            },
            "port":{
               "title":"Port",
               "type":"string",
               "maxLength":6,
               "minLength":1
            },
            "username":{
               "title":"Username",
               "type":"string",
               "maxLength":60,
               "minLength":1
            },
            "password":{
               "title":"Password",
               "type":"string",
               "maxLength":60,
               "minLength":1
            },
            "interval":{
               "title":"Interval",
               "type":"string",
               "maxLength":5,
               "minLength":1
            },
            "entity_type":{
               "title":"Entity type",
               "type":"string",
               "maxLength":60,
               "minLength":1
            },
            "oids":{
               "type":"array",
               "items":{
                  "$ref":"#/definitions/SntSNMPOid"
               }
            },
            "entity_id":{
               "title":"Entity id",
               "type":"string",
               "maxLength":36,
               "minLength":1
            },
            "version":{
               "title":"Version",
               "type":"string",
               "enum":[
                  "v3",
                  "v2",
                  "v1"
               ]
            },
            "auth_protocol":{
               "title":"Auth protocol",
               "type":"string",
               "enum":[
                  "MD5",
                  "None"
               ]
            },
            "security_level":{
               "title":"Security level",
               "type":"string",
               "enum":[
                  "authnoPriv",
                  "None"
               ]
            },
            "status":{
               "title":"Status",
               "type":"string",
               "maxLength":10,
               "minLength":1
            }
         }
      },
      "SntUser":{
         "type":"object",
         "properties":{
            "id":{
               "title":"ID",
               "type":"integer",
               "readOnly":true
            },
            "first_name":{
               "title":"First name",
               "type":"string",
               "maxLength":30
            },
            "last_name":{
               "title":"Last name",
               "type":"string",
               "maxLength":30
            },
            "email":{
               "title":"Email",
               "type":"string",
               "format":"email",
               "maxLength":254,
               "x-nullable":true
            },
            "sonata_userid":{
               "title":"Sonata userid",
               "type":"string",
               "maxLength":60,
               "x-nullable":true
            },
            "created":{
               "title":"Created",
               "type":"string",
               "format":"date-time",
               "x-nullable":true
            },
            "type":{
               "title":"Type",
               "type":"string",
               "enum":[
                  "cst",
                  "dev",
                  "admin"
               ],
               "x-nullable":true
            },
            "mobile":{
               "title":"Mobile",
               "type":"string",
               "format":"decimal",
               "x-nullable":true
            }
         }
      },
      "Health":{
         "required":[
            "alive_since"
         ],
         "type":"object",
         "properties":{
            "alive_since":{
               "title":"Alive since",
               "type":"string",
               "format":"date-time"
            }
         }
      }
   }
}